/* >> FONTS IMPORT */


/* >> RESET */
  *,
  *::before,
  *::after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*  */


/* >> GENERAL STYLES */
  html  {
    scroll-behavior: smooth;
  }

  body{   /* Recommended to do everytime I start a new project */
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
/*  */


/* >> NAVBAR STYLES */
  nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav ul{
    width: 100%;
    list-style: none;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav li{
    height: 50px;
  }

  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;

    display: flex;
    align-items: center;
    color: black;
  }

  nav a:hover{
    background-color: grey;
    transition: 300ms;
  }

  /* Align the first link on the first line */
  nav li:first-child{
    margin-right: auto;
  }

  .menu-btn{
    display: none;
  }
/*  */


/* SIDEBAR STYLES */
  /* 
    1. Sidebar should always be on the right side covering everything else 
    2. Must not influence other website elements
  */
  .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999; /* To make sure the sidebar will always be above evrything else set the z-index to 999 */
    background-color: rgba(255, 255, 255, 0.096);
    backdrop-filter: blur(2px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sidebar li{
    width: 100%;
  }

  .sidebar a{
    width: 100%;
  }
/*  */


/* RESPINSIVE WEB */
  @media(max-width: 800px){
    .menu-btn{
      display: contents;
    }
    .hideOnMobile{
      display: none;
    }
  }

  @media(max-width: 375px){
    .sidebar{
      width: 100%;
    }
  }